.footer-container {
    text-align: center;
}

.social-icon-container {
    padding-bottom: 15px;
    padding-top: 15px;
}

.social-icon-container a {
    color: black;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: solid black 1.25px;
    border-radius: 50%;
    transition: background-color 0.25s ease-in-out 0.1s;
    background-color: white;
}

.social-icon-container a:hover {
    background-color: rgb(243, 237, 237);
}

.copy-stuff {
    font-size: 10px;
}