.nav-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #333;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    /* padding: 0; */
    /* margin: 0; */
    overflow: hidden;
    background-color: #333;

    
}


/* li {
    float: left;
} */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out 0.1s;
    background-color: #333; 
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: aqua;
}

@media screen and (max-width: 600px){
    .nav li {float: none;}
    .nav-container {position: relative;}
}